<table class="getapet-pet-details">
	<tr>
		<td class="photo"><img ng-src={{$ctrl.pet.photoUrls[0]}}/></td>
		<td class="details">
			<form ng-submit="$ctrl.createPet()" class="form-horizontal">
			
				<div class="form-group">
					<label class="col-sm-2 control-label">Name:</label>
					<div class="col-sm-10">
						<p class="form-control-static">{{$ctrl.pet.name}}</p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Tags:</label>
					<div class="col-sm-10">
						
						<p class="form-control-static">
							<span ng-repeat="tag in $ctrl.pet.tags">
							{{tag.name}}<span ng-if="!$last">,</span>
							</span>
						</p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Status:</label>
					<div class="col-sm-10">
						<p class="form-control-static">{{$ctrl.pet.status}}</p>
					</div>
				</div>
			</form>
		</td>
	</tr>
</table>