body {
	width: 1200px;
	margin: auto;
	padding-top: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header {
	overflow: hidden;
}

#logo, #navbar{
	display: inline-block;
}

#navbar {
	float: right;
	padding-top: 50px;
	padding-right: 20px;
}

#content {
	padding-top: 15px;
	text-align: center;
	overflow: hidden;
}

div.arrow-left {
	width: 0; 
	height: 0; 
	border-bottom: 20px solid transparent;
	border-top: 20px solid transparent;
	border-right: 20px solid black;
	float: left;
	margin-top: 250px;
}

div.arrow-right {
	width: 0; 
	height: 0; 
	border-bottom: 20px solid transparent;
	border-top: 20px solid transparent;
	border-left: 20px solid black;
	float: right;
	margin-top: 250px;
}

/* Needed by bootstrap UI to remedy styling problems for links with empty href*/
.nav, .pagination, .carousel, .panel-title a 
{ 
	cursor: pointer; 
}
